
<footer id="info">
    <!-- views/partials/footer.ejs -->
 <link href="style.css" rel="stylesheet" type="text/css">

<table class="footer_table" style="min-width: 100%">
    <tr>
        <th>
            Service
        </th>
        <th>
                Resources
        </th>
        <th>
                Company
        </th>
    </tr>

    <tr>
            <td>
                Recipes
            </td>
            <td>
                    Login/My Account
            </td>
            <td>
                    About Us
            </td>
    </tr>
    <tr>
            <td>
                Grocery List
            </td>
            <td>
                    Sign Up
            </td>
            <td>
                    Careers
            </td>
    </tr>
    <tr>
            <td>
                Food Products
            </td>
            <td>
                    Shipping + Return
            </td>
            <td>
                   Partner
            </td>
    </tr>
    <tr>
            <td>
                Kitchen Products
            </td>
            <td>
                    FAQ+Support
            </td>
            <td>
                   Terms of Service
            </td>
    </tr>
    <tr>
            <td>
                Household Products
            </td>
            <td>
                    Contact
            </td>
            <td>
                   Privacy Policy
            </td>
    </tr>
</table> 
<p class="text-center text-muted">© Copyright 2019 Chop Chow San Diego</p>

</footer>  
</section> 
<script type="text/javascript" src="/public/assets/store.js"></script> </body> 
</html>
