
<footer id="info">
    <!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2019 The Awesome People</p>

<span>Node.js Footer</span> 
</footer>  
</section> 
<script type="text/javascript" src="/public/assets/store.js"></script> </body> 
</html>
