
<footer id="info">
    <!-- views/partials/footer.ejs -->
 <link href="style.css" rel="stylesheet" type="text/css">

<table class="footer_table" style="min-width: 100%">
    <tr>
        <th>
            Service
        </th>
        <th>
                Resources
        </th>
        <th>
                Company
        </th>
    </tr>

    <tr>
            <td>
                Recipes
            </td>
            <td>
                    Login/My Account
            </td>
            <td>
                    About Us
            </td>
    </tr>
    <tr>
            <td>
                Grocery List
            </td>
            <td>
                    Sign Up
            </td>
            <td>
                    Careers
            </td>
    </tr>
    <tr>
            <td>
                Food Products
            </td>
            <td>
                    Shipping + Return
            </td>
            <td>
                   Partner
            </td>
    </tr>
    <tr>
            <td>
                Kitchen Products
            </td>
            <td>
                    FAQ+Support
            </td>
            <td>
                   Terms of Service
            </td>
    </tr>
    <tr>
            <td>
                Household Products
            </td>
            <td>
                    Contact
            </td>
            <td>
                   Privacy Policy
            </td>
    </tr>
</table> 

<p class="text-center text-muted">Copyright © 2019 Chop Chow Company. All Rights Reserved.</p>

The information on this website is not intended as a substitute for the medical recommendations of a physician.
Rather, it is intended for educational and informational purposes only.
Please see a qualified healthcare professional if you have questions regarding your health.
The statements on this website have not been evaluated by the Food and Drug Administration.
The products are not intended to diagnose, treat, cure, or prevent any disease.
We reserve the right to cancel any order at any time.

</footer>  
</section> 
<script type="text/javascript" src="/public/assets/store.js"></script> </body> 
</html>
