.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.payback-disclaimer{
  font-size: 22px;
  color: black;
}



.container{
  display: flex;
  flex-wrap: wrap-reverse;
  /* width: 100%;
  background-color: #D3D3D3;
  padding:5px;
  padding-bottom: 0; */
}
.images{
  width:"30%"
}

.container .mealContainer{
  /* display: flex
  padding: 8px;
  margin: 5px;
  background-color: #fff; */
  display: flex;
  padding: 8px;
  margin: 5px;
  padding-bottom: 0;
}

.container .mealContainer .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #000;
}

/* .viewFoodContent{
  width: 100%;
  height: 100%;
} */

/* .blogThumbnails {
  background-color: #D3D3D3;
  padding:5px;
  padding-bottom: 0;
}
.blogThumbnails .thumbnail {
  padding:8px;
  margin:5px;
  background-color: #fff;
}

.blogThumbnails .thumbnail .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #000;
} */

/* ============================================= */
.number-input input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}
.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}.number-input input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}
.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}
/* .background-color{
  background-color: red !important;
  position: relative;
} */
.close-button{
    margin-left: 97%;
    background: transparent;
    border: transparent;
    font-size: 20px;
}
.modal-edit{
  position: absolute;
  top: 10%;
  border: 1px solid rgb(204, 204, 204);
  background-color: lightgrey;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  max-width: 60%;
  float: left;
  left: 20%;
  right: 20%;
  width: 100%;
  bottom: 10%;
}
.padding-col{
  padding: 20px;
  max-height: 45% !important;
  right: 7%;
}
.padding-col1{
  right: 0%;
}
.slide{
  background: lightgrey !important;
}
.slider{
height: 355px !important;
}
.slide.current{
text-align: center !important;
padding: 50px !important;
}
.slide.previous{
  text-align: center !important;
  padding: 50px !important;
  }

  .slide.next {
    text-align: center !important;
    padding: 50px !important;
    }

.slider a.previousButton {
	left: -10px !important;
}

.slider a.nextButton {
	right: -10px !important;
}
.slide.hidden {
  visibility: hidden;
  text-align: center !important;
  padding: 50px !important;
}

