/* grocery page */
.page__container{
    background: linear-gradient(to right, #ffffff, #e87512);
    box-shadow: 0 0 3px rgba(0,0,0,.25);
    padding: 20px;
    margin-left: 185px;
    margin-top: 1rem;
    height: 414px;
    width: 73%;
  }
  .yourlist__card{
    border: 1px solid rgba(234, 234, 234, 0.9) !important;
    border-radius: 0.3rem !important;
    cursor: pointer;
    margin-left: -98px;
    margin-top: 79px;
    margin-bottom: 1rem;
    padding: 44px;
    width: 307px;
  }
  .yourlist__card:hover{
  
    box-shadow:  0 0 30px -15px rgba(0, 0, 0, 0.3);
  }
  .card-image{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 16px;
  }
  .card-img{
    width: 155px;
    height: 52%;
    margin-top: 61px;
    margin-left: -142px;

  }
  .yourlist__card-div{
    margin-top: 93px;
    margin-left: -19rem;
  }
  .yourlist__card-header{
    border-bottom: none !important;
    background: rgba(245, 243, 240, 0.47) !important;
    margin-left: -19px;
    margin-top: -30px;
    padding-left: 19px;
    width: 257px;
  
  }
  

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
  .yourlist__card-text{
    margin-top: 24px;
  }

.btn-primary {
  color: #2f2c2c;
  /* margin-top: -235px; */
  margin-left: 76px;
  background-color: #c1c5ca;
  border-color: #525456;
  width: 92%;
  border: 51px;
  border-radius: 33px;
}
.yourlist__buttonDelete{
  background-color: red;
  margin-top: -151px;
    margin-left: 246px;

}
.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
  font-size: 255%;
  margin-left: 9px;
}
.btn-primary {
  color: #2f2c2c;
  margin-left: -15px;
  background-color: #c1c5ca;
  border-color: #525456;
  border: 51px;
  border-radius: 33px;
}
.modal-content {
  width: 154%;
  margin-left: -139px;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 1.3rem;
  outline: 0;
}
.login__form-div-title
{
  width: 649px;
    margin-left: 134px;
}
.modal-body {
  position: relative;
  width: 221%;
  margin-left: -350px;
  width: 182%;
  background-color: #ffeed8;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-top: -38px;
  margin-left: 2px;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}
.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
  margin-left: -22px;
}
.fa-google:before {
  content: "\f1a0";
  margin-left: -32px;
}
.fa-close:before, .fa-remove:before, .fa-times:before {
  content: "\F00D";
  font-size: 255%;
  margin-left: 9px;
  margin-top: 91px;
  cursor: pointer;
}
.modal-body {
    position: relative;
    width: 221%;
    margin-left: -350px;
    width: 184%;
    display: block;
    background-color: #fff0;
}
@media only screen and (max-width: 1024px) {
  .yourlist__card-div {
    margin-top: 93px;
    margin-left: -14rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-left: -77px;
  -webkit-font-smoothing: antialiased;
}
}
@media only screen and (max-width: 360px) {

.yourlist__card-div {
  margin-top: 93px;
  margin-left: -1rem;
  width: 85%;
}
}
@media only screen and (max-width: 768px) {

.fa-close:before, .fa-remove:before, .fa-times:before {
  content: "\F00D";
  font-size: 255%;
  margin-left: 82px;
}
}
@media only screen and (max-width: 411px) {

.fa-close:before, .fa-remove:before, .fa-times:before {
  content: "\F00D";
  font-size: 255%;
  margin-left: -32px;
}
}
  /******** design log in page ******/
  .login__form__text-muted {
    padding: 5px 0 40px;
    text-align: center;
    font-size: 15px;
    opacity: .8;
  }
 .link-forgot-password{
  color: black !important;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  margin-left: 24rem;
 }
 .link-signup-word {
  color: #4c4646 !important;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
  .link-guest-word {
    color: #423d3c !important;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    margin-left: 7px;
    margin-right: -64px;

  }
  .link-signup-word:hover {
    text-decoration: none;
    color: #104d58 !important;
  }
  
  .content-login__input {
    width: 275px;
    margin-right: 37px;
    margin-left: 24px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: black;
    border-radius: 3px;
  }


  .form-group {
    margin-bottom: 2rem;
    margin-left: 360px;
    margin-right: 40px;
    margin-top: 36px;
}
.form-text {
  display: block;
  margin-left: -110px;
  margin-right: -355px;
  margin-top: 35px;
}

  .msg-err {
    text-align: center;
    padding: 0 22px;
    margin-left: 360px;
    margin-right: 40px;
    color: red;
  }
  .msg-success{
    text-align: center;
    padding: 0 22px;
    margin-left: 360px;
    margin-right: 40px;
    color: green;
  }
  
  .login__form {
    width: 53%;
    margin-left: 335px;
    margin-top: 96px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 4px transparent;
}
.login__form-title {
  margin-top: -119px;
  padding: 20px 0;
  font-weight: 600;
  align-items: center;
  text-align: center;
  letter-spacing: .04em;
  color: #5d5756;
  width: 91%;
  margin-left: 17px;
  background: #fff;
}
  .login__form-title {
    padding: 20px 0;
    font-weight: 600;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #5d5756;
    width: 91%;
    margin-left: -84px;
    background: #FFFFFF;
}
.btn:hover {
  opacity: 1;
}
.login__form-btn {
  width: 20%;
  background-color: #c3bebe!important;
  background: #e6e4e1;
  border-radius: 7px;
  border: 2px solid #54514d;
  margin-top: 83px;
  height: 40px;
  border-radius: 21px;
  font-size: 20px!important;
}

.google {
  background-color: #dd4b39;
  color: #fff;
  margin-top: 60px;
  margin-left: 34px;
  margin-right: 3px;
  width: 77%;
}
.fb {
  background-color: #3b5998;
  color: #fff;
  margin-left: 36px;
  margin-top: 40px;
  margin-bottom: -1px;
}
.vl {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
  margin-top: 27px;
}
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}
/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
  @media only screen and (max-width: 992px) {
    .login__form {
      width: 95%;
    }
  }
  
  