<% include ../partials/header %>

<h1>Privacy Policy for Login dialog and App Details</h1>

<p>
    <h2> 1. The information we collect and how we collect it.</h2>
        1.1 Information you provide, Login Authentication from Facebook and/or Google, Personal Information like full name, display name and home address.<br>
        1.2 Automatically-collected information<br>
        1.2.1 We have cookies that store application session data. This may store prersonal information from our User such as browser and device type.<br>
        1.3 Information from third parties<br>
        1.3.1 We do not share any User info with any third parties.

</p> 

<% include ../partials/footer %>
