<% include ../partials/header %>
<h1>Chop Chow Terms of Service </h1>

<p>
        Thank you for using our Chop Chow application service.
        By using our Services, you are agreeing to these terms. Please read them carefully.
        <h2>Your Account</h2>
        You may need a Chop Chow Account in order to use some of our Services. A logged in User can be a Supplier, Admin, or Consumer.
        Chop Chow’s privacy policies explain how we treat your personal data and protect your privacy when you use our Services.
        By using our Services, you agree that Chop Chow can use such data in accordance with our privacy policy.
</p>
 
<% include ../partials/footer %>
