<% include ../partials/header %>
<h1>Terms of Service for Login dialog and App Details</h1>

<p>
    We use Facebook's Login dialog to allow for simple and convenient authentication for our application users.
    Authentication allows Chop Chow to provide custom experiences for our users like providing access to our online servivce features; specifically, saving a users grocery list, or updating users information on our platform.
    <br></br>
    We do not use Login access to post on behalf of the User. Login access provided by User allows for Chop Chow's application Login only.
    Any information stored on our platform by our Users, is used for the sole purpose that the user intends in and for the application only.
    
</p>
 
<% include ../partials/footer %>
